<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Contact Us</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- css stylesheet -->
    <link rel="stylesheet" href="css/master.css">

    <!--Fonts awesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>



    <title>Darks MachinoX</title>
  </head>
  <body class="contact-background coloured-section">

    <!-- navigation bar -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">

      <!-- Logo -->

      <a class="navbar-brand" href="/">
        <img src="images/logo-removebg-preview.png" width="70" height="60" class="d-inline-block align-top" alt="" loading="lazy">
        DME
      </a>

      <!-- Nav-bar list items -->
      <ul class="navbar-nav text-right ml-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

      </ul>
    </nav>


    <section id="contact">
    <div class="container-fluid">

      <div class="section-header">
        <h3>Contact Us</h3>
      </div>

      <div class="row wow fadeInUp">

        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7064.0785414347365!2d72.78932325823695!3d20.1711406418505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be72bafdc5ae9ff%3A0x9c9a837b4d20e90e!2sDarks%20machinox!5e0!3m2!1sen!2sin!4v1600242241819!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 300px;" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="/contact" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" value="submit" title="Send Message">submit</button></div>
            </form>


          </div>
        </div>



          <div class="col-lg-6 center below">
            <h3>Address</h3>
            <p> Darks machinoX, p4, Sandip taskar, survey no.321, p1, Gangadevi Temple Rd, Palgam, Gujarat 396170</p>
          </div>

          <div class="col-lg-6 center below">
            <h4>Working hours</h4>
                <p>
                  Mon - Fri<br>
                  9AM - 9PM<br>
                  <strong>Phone:</strong> +91 7359054476<br>
                  <strong>Email:</strong> darksmachinox@gmail.com<br>
                </p>
          </div>

          <div class="social-links row social-contact">
            <a  href="#" class="twitter below-social"><i class="fab fa-twitter"></i></a>
            <a  href="#" class="facebook below-social"><i class="fab fa-facebook"></i></a>
            <a  href="#" class="instagram below-social"><i class="fab fa-instagram"></i></a>
            <a  href="#" class="google-plus below-social"><i class="fab fa-google-plus"></i></a>
            <a  href="#" class="linkedin below-social"><i class="fab fa-linkedin"></i></a>
          </div>


      </div>


      </div>

    </div>

      </section><!-- #contact -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      <script>

      $('form').on('submit', (e) =>{
        e.preventDefault();

        const name = $('#name').val().trim();
        const email = $('#email').val().trim();
        const subject = $('#subject').val().trim();
        const text = $('#message').val().trim();

        const data = {
          name,
          email,
          subject,
          text
        }


        $.post('/email', data, function(){
          console.log("server received our data");
        });

        if(name=='' || email=='' || subject=='' ){
          swal({
            title: "Fields Empty..!!",
            text: "Please check the missing fields..!!",
            icon: "warning",
            button: "OK",
          });
        } else {

          swal({
            title: "Submitted succesfully",
            text: "Thank you for contacting us. We are organizing to get in touch as soon as possible.",
            icon: "success",
            button: "OK",
          });

        }


      });

      </script>



  </body>
</html>
