<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- css stylesheet -->
  <link rel="stylesheet" href="css/master.css">

  <!--Fonts awesome-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <title>Darks MachinoX</title>



</head>


<body>

  <!-- Navigation and Introduction -->

  <section id="title">
    <header>




    <!-- Navigation -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">

      <!-- Logo -->

      <a class="navbar-brand" href="#">
        <img src="images/logo-removebg-preview.png" width="70" height="60" class="d-inline-block align-top" alt="" loading="lazy">
        DME
      </a>

      <!-- Toggler -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Nav-bar list items -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav text-right ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="#title">Home <span class="sr-only">(current)</span></a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#about-us">About us</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#services">Our Services</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#slider">Gallery</a>
          </li>


          <!-- <li class="nav-item">
            <a class="nav-link" href="#team">Our Team</a>
          </li> -->


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact us</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#foot">Get in touch</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="contact">Request Quotation</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Navigation bar end -->

    <!-- Introduction -->


      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="images/intro video.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-3">Darks MachinoX</h1>
            <p class="lead mb-0">Everything you are looking for a seamless pipe production</p>
          </div>
        </div>
      </div>
    </header>

  </section>

  <!--Introduction End-->




  <!-- About us -->

  <section id="about-us">

    <div class="container-fluid">
      <h2 class="section-heading">About us</h2>
      <p class="about-para">We are pioneer in Engineering service & solutions, founded in 2018, with a group of professionally skilled team with an aim to provide solution’s to seamless Pipe/Tube manufacturing units </p>


      <!-- our mission & our vision -->

      <div class="row">
        <div class="col-lg-6">

          <i class=" mission-icon fas fa-paper-plane fa-4x"></i>
          <h3>Mission</h3>
          <p class="mission-text">"To provide our customers with the best solution, trained technicians, and manufactured parts for seamless tubes production."</p>

        </div>

        <div class="col-lg-6">

          <i class="mission-icon fas fa-eye fa-4x"></i>
          <h3>Vision</h3>
          <p class="mission-text">"To be respected and recognised one stop solution/service provider in India for seamless tubes manufacturing."</p>

        </div>

      </div>

    </div>

  </section>


  <!-- -Services-section  -->

  <div class="wrapperMain">
  <section id="services" class="bounce-inInverse">
          <div class="containerContent">
          <div class="set_size_section1">
              <h2 class="section-heading">Our Services</h2>
              <p class="services_p center">We provide the following services for seamless pipe production</p>
              <div class="article_center2">
                  <article class="section1_article">
                      <img alt="Basket" src="http://icons.iconarchive.com/icons/jozef89/services-flat/512/ecommerce-icon.png" width="78" height="77">
                      <h3>Manufacturing</h3>
                      <p>
                        <ul>
                          <li align="left">Manufacturing tooling spares and machine parts of hot and cold mill for a seamless pipe manufacturing unit.</li><br>
                          <li align="left">Manufacturing of SPM (Pipe convey conveyer, cooling bed, Bevelling machine) related to seamless pipe manufacturing unit.</li>
                        </ul>
                      </p>
                      </article>
                  <article class="section1_article">
                      <img alt="Laptop" src="http://icons.iconarchive.com/icons/jozef89/services-flat/512/responsive-web-icon.png" width="78" height="77">
                      <h3>Automation</h3>
                      <p>
                        <ul>
                         <li align="left">Automation in hot mills, cold mills, finishing mills of a seamless pipe manufacturing unit.</li><br>
                         <li align="left">Production service which includes all stages from planning to finished ok product for Stainless steel, Alloy steel & carbon steel with all liability of quality finished ok product.</li>
                        </ul>
                     </p>
                  </article>
                  <article class="section1_article">
                      <img alt="Locked" src="https://cdn0.iconfinder.com/data/icons/web-development-2/512/security_lock_password_protection_secure_locking_system_safe_privacy_private_safety_encryption_flat_design_icon-512.png" width="78" height="77">
                      <h3>Consultation</h3>
                      <p>
                        <ul>
                          <li align="left">Consultancy for a layout of seamless pipe/tube manufacturing unit especially for Hot-mills and Cold-mills.</li><br>
                          <li align="left">Commissioning of Hot mills (piercing mill, accu-roll mill, SRM) upto 6" size.</li>
                        </ul>
                      </p>
                  </article>
              </div>
          </div>
          </div>
      </section>





  <!-- - our machines -->

  <section id="slider">

    <div class="coloured-section">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/cara5.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara6.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara7.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara10.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara11.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara12.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara13.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara14.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara15.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara16.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara18.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara19.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara20.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara23.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara24.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara25.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara26.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/cara28.jpeg" class="d-block w-100" alt="...">
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>



    </div>

  </section>


    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container-fluid">

        <div class="section-header">
          <h2 class="section-heading">Our Clients</h2>
          <p class="services_p center">Our values lies in Integrity, Honesty, Secularity, Diversty and Innovation, that is the reason we have such significant customers.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-6 col-md-6">
            <div class="client-logo">
              <img src="images/client1.jpeg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-6 col-md-6 ">
            <div class="client-logo">
              <img src="images/client2.jpeg" class="img-fluid " alt="">
            </div>
          </div>



          <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="images/client5.jpg" class="img-fluid a" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="client-logo">
              <img src="images/client3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="client-logo">
              <img src="images/client4.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>


    <!--- footer section --->

<footer id="foot" >
  <div class="container-footer coloured-section">

    <div class="row trial">
      <div class="col-lg-4 pad text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7064.0785414347365!2d72.78932325823695!3d20.1711406418505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be72bafdc5ae9ff%3A0x9c9a837b4d20e90e!2sDarks%20machinox!5e0!3m2!1sen!2sin!4v1600242241819!5m2!1sen!2sin" width="100%" height="208" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

      <div class="col-lg-4 pad text-center">
        <h3>Address</h3>
        <p> Darks machinoX, p4, Sandip taskar, survey no.321, p1, Gangadevi Temple Rd, Palgam, Gujarat 396170</p>

      </div>

      <div class="col-lg-4 pad text-center">

        <h4>Working hours</h4>
            <p>
              Mon - Fri<br>
              9AM - 9PM<br>
              <strong>Phone:</strong> +91 7359054476<br>
              <strong>Email:</strong> darksmachinox@gmail.com.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>

      </div>


    </div>

  </div>




</footer>



<script>
/* BLUR EFFECT */

var $container = $('.article_center2'),
    $articles = $container.children('article'),
    timeout;

$articles.on('mouseenter', function(event) {
    var $article = $(this);
    clearTimeout(timeout);
    timeout = setTimeout(function() {
        if ($article.hasClass('active')) return false;
        $articles.not($article).removeClass('active').addClass('blur');
        $article.removeClass('blur').addClass('active');
    }, 75);
});
$('.article_center2', '#services ').on('mouseleave', function(event) {
    clearTimeout(timeout);
    $articles.removeClass('active blur');
});


$articles.bind('click', function(){
    var title = $(this).find('h3').text();
    alert("Nothing interesting,\nonly the actual title of the article = " + title);
});

</script>












</body>



</html>
