<!-- Navigation -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark">

  <!-- Logo -->

  <a class="navbar-brand" href="#">
    <img src="/Users/shivamkumar/Desktop/Project DMX/images/logo-removebg-preview.png" width="70" height="60" class="d-inline-block align-top" alt="" loading="lazy">
    DME
  </a>

  <!-- Toggler -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Nav-bar list items -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav text-right ml-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#title">Home <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#about-us">About us</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#services">Our Services</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#slider">Gallery</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#team">Our Team</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact us</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#foot">Get in touch</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/Users/shivamkumar/Desktop/Project DMX/contact.html" target="_blank">Request Quotation</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Navigation bar end -->
